{% extends 'master.html' %}
{% load static %}

{% block title %} TourSpot {% endblock %}

{% block content %}
    <div class="hero_section section">
        <div class="hero_content section_content">
            <p class="content_header"><span class="content_highlight"> Contact Us </p>
            <p class="content_subtitle">Your one-stop solcoution for booking amazing tours and spots.</p>
        </div>
    </div>
    <div class="popular_section section">
        <div class="popular_content section_content">
            <p class="content_header"><span class="content_highlight"> Where to Next? </span> Let’s Plan Your Philippine Escape!</p>
            <p class="content_subtitle">Your one-stop solcoution for booking amazing tours and spots.</p>
        </div>
    </div>
{% endblock %}