{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    {% block stylesheets %} {% endblock %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'touristspot.css' %}">
    <link rel="stylesheet" href="{% static 'main-responsive.css' %}">
    <link rel="icon" href="{% static 'logo/icon.svg' %}" type="image/gif" sizes="16x16">
</head>
<body>
    {% include 'message.html' %}
    <div class="header-container container">
        <div class="header-logo">
            <a href="{% url 'main' %}"><img src="{% static 'images/logo/logo=booking-def.svg' %}" alt="Logo" class="logo"></a>
        </div>
        {% url 'main' as home %}
        {% url 'aboutus' as aboutus %}
        {% url 'contact' as contact %}
        {% url 'touristspots' as explore %}
        <div class="header-navigation">
            <a href="{% url 'main' %}" class="{% if request.path == home %} active {% endif %}"><span> Home </span></a>
            <a href="{% url 'touristspots' %}" class="{% if request.path == explore %} active {% endif %}"><span> Explore Spots </span></a>
            <a href="{% url 'aboutus' %}" class="{% if request.path == aboutus %} active {% endif %}"><span> About us </span></a>
            <a href="{% url 'contact' %}" class="{% if request.path == contact %} active {% endif %}"><span> Contact </span></a>
        </div>
        <div class="header-actions">
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="button-small button-clrprimary">Login</a>
            {% else %}
            <div class="users-container">
                <img src="{% static 'icon/icons=bell.svg' %}" alt="notification" class="notification icon notif" id="notification">
                <div class="user-profile">
                    {% if request.user.image.url != null %}
                    <img src="{{ request.user.image.url }}" class="profile-image" id="profileimg">
                    {% else %}
                    <img src="/media/profiles/default-profile.jpeg" class="profile-image" id="profileimg">
                    {% endif %}
                    <div class="user-actions" id="useractions">
                        <div class="user-action">
                            <a href="{% url 'profile' request.user.id %}" class="action"> Profile </a>
                            <a href="{% url 'user_booking' request.user.id %}" class="action"> My Bookings </a>
                            <a href="{% url 'logout' %}" class="action"> Logout </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% block content %} {% endblock %}
    <!-- <div class="footer-container">
        <div class="footer-navigation">
            <div class="footer-links">
                <div class="footer-links-header">
                    <a href="{% url 'main' %}"> Home </a>
                    <a href="{% url 'touristspots' %}"> Explore </a>
                    <a href="{% url 'aboutus' %}"> About Us </a>
                    <a href="{% url 'contact' %}"> Contact </a>
                </div>
            </div>
        </div>
        <div class="footer-logo">
            <img src="{% static 'images/logo/logo=booking-def.svg' %}" alt="Logo" class="logo">
            <p> © 2025 TourSpot. All rights reserved. </p>
            <div class="socialmedialinks">
                <a href=""><img src=""> </a>
                <a href=""><img src=""> </a>
                <a href=""><img src=""> </a>
            </div>
        </div>
    </div> -->
    {% block script %}
    {% endblock %}
    <script src="{% static 'admin/admin-script.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const profileImg = document.getElementById('profileimg');
        const userActions = document.getElementById('useractions');

        // Initially hide the user actions
        userActions.style.display = 'none';

        profileImg.addEventListener('click', function () {
        if (userActions.style.display === 'none') {
            userActions.style.display = 'block';
        } else {
            userActions.style.display = 'none';
        }
        });
    });
    </script>
</body>
</html>