{% extends 'admin/master-admin.html' %}
{% block title %} Dashboard - Admin {% endblock %}
{% load static %}

{% block content %}
    <div class="content_header">
        <h1> Dashboard </h1>
    </div>
    <div class="content_body">
        <div class="data-container">
            <div class="data-group">
                <h2> Users </h2>
                <p> {{ countuser }} </p>
            </div>
            <div class="data-group">
                <h2> Spots </h2>
                <p> {{ countspots }} </p>
            </div>
            <div class="data-group">
                <h2> Booking </h2>
                <p> {{ countbooking }} </p>
            </div>
            <div class="data-group">
                <h2> Categories </h2>
                <p> {{ countcategory }} </p>
            </div>
            <div class="data-group">
                <h2> Reviews </h2>
                <p> {{ countreviews }} </p>
            </div>
        </div>
        <div class="review_sections">
            {% for x in reviewlist %}
                
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script src="{% static 'javascript/main.js' %}"></script>
{% endblock %}