@import "../component.css";

@import "admin-pages.css";
@import "admin-forms.css";
@import "admin-content.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

.content_body .row:after {
    content: "";
    display: table;
    clear: both;
}

.content_body .row .col {
    float: left;
    width: 33.33%;
    height: 100px;
}

.admin-container{
    gap: 8px;
    padding: 1em;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
}

.admin-container .container{
    border-radius: 1em;
    
    position: relative;
    overflow-y: hidden;
}

.admin-container .sidebar-container{
    gap: 16px;
    height: 100%;
    display: flex;
    padding: 16px 32px 32px 32px;
    flex-direction: column;
    background-color: var(--white);
}

.sidebar-container .logo-container{
    position: relative;
    display: flex;
}

.logo-container #sidebar-menu{
    display: none;
    cursor: pointer;
}

.sidebar-container .navigation-container{
    display: flex;
    flex-direction: column;
}

.navigation-container .navgroup{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.navgroup .subnavgroup{
    display: flex;
    flex-direction: column;
    background-color: #bdbdbd;
}

.navgroup .nav-link, .subnavgroup .subnav-link{
    gap: 8px;
    display: flex;
    color: var(--black);
    border-radius: 8px;
    padding: 12px 16px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.subnavgroup .subnav-link{
    font-size: 16px;
    border-radius: 0 !important;
}

.nav-link:hover, .subnav-link:hover{
    font-weight: 500;
    color: var(--white);
    background-color: var(--background);
}

.nav-link:hover img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.link-active{
    font-weight: 500;
    color: var(--white) !important;
    background-color: var(--background);
    border-radius: 8px 8px 0 0 !important;
}

.sublink-active{
    font-weight: 500;
    background-color: #1f3c2bb1;
    color: var(--white) !important;
    border-radius: 8px 8px 0 0 !important;
}

.link-active img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.link-active:hover{
    color: var(--white);
    background-color: var(--primary);
}

.link-active:hover img{
    
}