{% extends 'admin/master-admin.html' %}
{% load static %}

{% block title %} Edit User - Admin {% endblock %}
{% block content %}
<div class="content_header">
    <h1> {{ action }} {{ list.username }}'s Profile </h1>
    <a href="{% url 'users' %}" class="button-small-long button-clrprimary-wimg button-red"><img src="{% static 'icon/action-icons=back-01.svg' %}"><span> Back </span></a>
</div>
<div class="content_body">
    <form action="" class="info-container form-container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-section">
            {% if list.image.url != null %}
            <img src="{{ list.image.url }}" class="profile-img">
            {% else %}
            <img src="/media/profiles/default-profile.jpeg" class="profile-img">
            {% endif %}
            <div class="input-group">
                <div class="input-container-image">
                    <div>
                        <input type="checkbox" name="image-clear" id="image-clear_id">
                        <label for="image-clear_id">Clear</label><br>
                    </div>
                    <input type="file" name="image" accept="image/*" id="id_image">
                </div>
            </div>
            <div class="profile-desc">
                <div class="profile-usertags">
                    {% if list.is_tourguide %}
                        <a class="roletags tags"> Tour Guide </a>
                    {% endif %}
                    {% if list.is_staff %}
                        <a class="roletags tags"> Admin </a>
                    {% endif %}
                    {% if not list.is_staff %}
                        <a class="roletags tags"> Tourist </a>
                    {% endif %}
                </div>
                <p> Registered Date: {{ list.registration_date }} </p>
            </div>
        </div>
        <div class="details-section">
            <div class="form-container">
                <div class="input-group">
                    <div class="input-container-select">
                        <div>
                            {{ form.is_staff }} <label for="is_staff"> Staff </label> 
                        </div>
                        <div>
                            {{ form.is_tourguide }} <label for="is_tourguide"> Tour Guide </label> 
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <label for="username">Username: </label>
                    <div class="input-container">
                        {{ form.username }}
                    </div>
                </div>
                <div class="input-group">
                    <label for="first_name">First Name: </label>
                    <div class="input-container">
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="input-group">
                    <label for="last_name">Last Name: </label>
                    <div class="input-container">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="input-group">
                    <label for="email">Email Address: </label>
                    <div class="input-container">
                        {{ form.email }}
                    </div>
                </div>
                <div class="input-group">
                    <label for="phone">Phone Number: </label>
                    <div class="input-container">
                        {{ form.phone }}
                    </div>
                </div>
                <div class="input-group">
                    <label for="address">Address: </label>
                    <div class="input-container">
                        {{ form.address }}
                    </div>
                </div>
                <button class="button button-clrbackground"> Update User </button>
            </div>
        </div>
    </form>
    {% if form.non_field_errors %}
        <div class="error-message">
            {% for error in form.non_field_errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}