{% extends 'admin/master-admin.html' %}
{% load static %}
{% block title %} Tourist Spot - Admin {% endblock %}

{% block content %}
<div class="content_header">
    <h1> Manage {{ title }}s </h1>
    <a href="{% url 'add_user' %}" class="button-small-long button-clrprimary-wimg"><img src="{% static 'icon/icons=plus.svg' %}"><span> Add {{ title }} </span></a>
</div>
<div class="content_body">
    <div class="table-container">
        <h2> All {{ subtitle }} </h2>
        <table class="main-table table">
            <thead>
                <tr> 
                    <th> User </th>
                    <th> Status </th>
                    <th> Total Cost </th>
                    <th> Visit Date </th>
                    <th> Payment </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for y in bookinglinelist %}
                <tr>
                    <td> {{ y.booking.user }} </td>
                    <td> {{ y.booking.status }} </td>
                    <td> {{ y.booking.totalcost }} </td>
                    <td> {{ y.visitDate }} </td>
                    {% for x in payment %}
                        {% if x.booking == y.booking %}
                            <td> {{ x.status }} </td>
                        {% endif %}
                    {% endfor %}    
                    <td>
                        <a class="confirm" href="{% url 'approve_booking' y.id %}"><img src="{% static 'icon/action-icons=check.svg' %}" alt=""></a>
                        <a class="view" href="{% url 'view_booking' y.id %}"><img src="{% static 'icon/action-icons=viewinfo.svg' %}" alt=""></a>
                        <a class="edit" href="{% url 'edit_booking' y.id %}"><img src="{% static 'icon/action-icons=edit-01.svg' %}" alt=""></a>
                        <a class="delt" href="{% url 'delete_booking' y.id %}"><img src="{% static 'icon/action-icons=trash-01.svg' %}"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}