/* Content */
.admin-container .content-container{
    gap: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.content-container .header, .content-container .content{
    border-radius: 8px;
    background-color: var(--white);
}

.content-container .header .icon, .content-container .content .icon{
    width: 32px;
    height: 32px;
    filter: brightness(0) saturate(100%) invert(36%) sepia(72%) saturate(466%) hue-rotate(107deg) brightness(91%) contrast(93%);;
}

.content-container .header{
    display: flex;
    padding: 16px 32px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-container .header .users-container{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.users-container .user-profile{
    display: flex;
    flex-direction: row;
}

.user-profile .profile-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 40px;
    border: 4px solid var(--background);
}

.content-container .content{
    gap: 16px;
    width: 100%;
    height: 100%;
    padding: 32px;
    display: flex;
    overflow-x: hidden;
    position: relative;
    flex-direction: column;
}

.content .content_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content .content_body{
    width: 100%;
    height: 100%;
    position: relative;
}

/* User */
.info-container{
    gap: 32px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.info-container .details-section{
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-container .profile-section{
    gap: 16px;
    /* width: 30vw; */
    display: flex;
    flex-direction: column;
}

.profile-section .profile-img{
    width: auto;
    height: 300px;
    min-width: 300px;
    max-height: 300px;
    object-fit: cover;
    position: relative;
    border-radius: 8px;
    background-size: contain;
    background-position: left;
    border: 10px solid var(--secondary);
}

.profile-section .profile-desc{
    gap: 16px;
    display: flex;
    text-align: justify;
    flex-direction: column;
}

.profile-desc .profile-usertags{
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:first baseline;
}

.profile-usertags .tags{
    padding: 8px 12px;
    font-size: 10px;
    border-radius: 32px;
    border: 1px solid var(--secondary);
    background-color: #eab64d5f;
}

/* Dashboard */
.data-container{
    gap: 16px;
    display: flex;
    flex-direction: row;
}

.data-container .data-group{
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 16px 42px;
    border-radius: 8px;
    color: var(--white);
    border: 1px solid var(--lightgray);
    background-color: var(--primary);
}

.data-group p{
    font-size: 18px;
}